<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
<body>
    <h1 class="tag is-danger" style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center">Dashboard Page</h1>
    <div style="display: flex; justify-content: space-around;">
        <div class="card" style="width: 30vw">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://hanoispiritofplace.com/wp-content/uploads/2018/03/hinh-anh-canh-dong-hoa-tuyet-dep-22.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
              
                <div class="media-content">
                  <p class="title is-4">Total Orchids</p>
                  <p class="subtitle is-6"style="font-weight: bold;" ><%= totalOrchids %></p>
                </div>
              </div>                    
            </div>
          </div>
          <!-- ------------ -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://inkythuatso.com/uploads/thumbnails/800/2022/03/anh-hoa-dep-lam-hinh-nen-dien-thoai0-09-15-06-42.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
              
                <div class="media-content">
                  <p class="title is-4">Total Categories</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= totalCategories %></p>
                </div>
              </div>         
            </div>
          </div>
          <!-- --------- -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://media1.nguoiduatin.vn/media/bui-ngoc-diep/2020/11/08/hoi-thi-hoa-lan-toan-quoc-2020-2.JPG" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
              
                <div class="media-content">
                  <p class="title is-4">Total Users</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= totalUsers %></p>
                </div>
              </div>       
            </div>
          </div>
    </div>
</body>
<%- include ('./patials/footer') %>
</html>