<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
<body>
    <h1 class="tag is-danger" style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center">Dashboard Page</h1>
    <div style="display: flex; justify-content: space-around;">
        <div class="card" style="width: 30vw">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://anhdepfree.com/wp-content/uploads/2022/12/anh-nen-messi-4k-dep-nhat-cho-may-tinh_49365439418.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/105298209?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total Captain Players</p>
                  <p class="subtitle is-6"style="font-weight: bold;" ><%= captainPlayers %></p>
                </div>
              </div>
          
              <div class="content">
                Toàn các huyền thoại bóng đá với những pha mãn nhãn và tậu về vinh quang cho đất nước
              </div>
            </div>
          </div>
          <!-- ------------ -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/10/23/56/ho-tan-tai-0.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/105298209?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total non-Captain players</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= nonCaptain %></p>
                </div>
              </div>
          
              <div class="content" >
                Tuổi trẻ là tuổi xông pha và mang tiền về cho mẹ. Mặc dù không phải là catain nhưng vẫn cống hiến hết mình
              </div>
            </div>
          </div>
          <!-- --------- -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://media.istockphoto.com/id/1180987693/vi/anh/h%C3%ACnh-%E1%BA%A3nh-c%E1%BB%A7a-ng%C6%B0%E1%BB%9Di-ph%E1%BB%A5-n%E1%BB%AF-vui-nh%E1%BB%99n-c%E1%BA%A7m-qu%E1%BA%A3-b%C3%B3ng-%C4%91%C3%A1-da-m%C3%A0u-tr%E1%BA%AFng-l%E1%BB%9Bn-m%C3%A0u-%C4%91en-h%E1%BB%97-tr%E1%BB%A3-%C4%91%E1%BB%99i-y%C3%AAu.jpg?s=1024x1024&w=is&k=20&c=q2qO-4swpU6j3VTSNFb0T4-qpOlppudbNj9bbAtRrgk=" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/105298209?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total Users</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= totalUsers %></p>
                </div>
              </div>
          
              <div class="content">
                Bạn là người đam mê bóng đá ? Bạn không biết về các cầu thủ ?
                Hãy để chúng tôi giúp bạn - Web bóng đá uy tín hàng đầu đến từ Châu Á.
                Nơi tổng hợp các users "nghiện" à nhầm "Love" bóng đá với niềm đam mê mãnh liệt.
              </div>
            </div>
          </div>
    </div>
</body>
<%- include ('./patials/footer') %>
</html>