<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>

    <body style="background-color: rgb(247, 210, 162); height: 100vh;">
        <div class="container is-fluid"
            style="display:flex; justify-content: center; background-color: rgb(247, 210, 162); padding-top: 100px;">
            <div>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width: 1000px;">
                    <thead style="height: 40px; background-color: aqua;">
                        <tr>
                            <th style="text-align: center;">Nations</th>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center">
                        <% nations.forEach(function(nation) { %>
                            <tr>
                                <td style="padding-top: 18px;">
                                    <%= nation.name %>
                                </td>
                                <td style="padding-top: 18px;">
                                    <%= nation.description %>
                                </td>
                                <td style="padding-top: 12px;">

                                    <div class="dropdown" style="height: 50px;">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                <span class="icon ">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content" style="width: 120px">
                                                <a style="background-color: antiquewhite;" class="dropdown-item" href="/nations/edit/<%=nation.id %>"><i
                                                        class="fa-solid fa-pencil"
                                                        style="margin-left: 6px; margin-right: 10px;"></i>Edit</a>
                                                <a style="background-color: rgb(238, 116, 116);" class="dropdown-item" href="/nations/delete/<%=nation.id %>"
                                                    onclick="return confirm('Are you sure ???')"><i
                                                        class="fa-solid fa-trash-can"
                                                        style="margin-left: 6px; margin-right: 10px;"></i>Delete</button></a>
                                            </div>
                                        </div>

                                    </div>
            </div>
        </div>
        </td>
        </tr>
        <% }) %>
            </tbody>
            </table>
            </div>

            </div>
    </body>
    <script>
    // Show error message
    <% if (errorMess) { %>
           window.onload = function() {
                Toastify({
                    text: "<%=errorMess %>",
                    duration: 5000,
                    gravity: "bottom",
                    position: "left",
                    backgroundColor: "#EE0000",
                    stopOnFocus: true,
                }).showToast();

                setTimeout(function () {
                    Toastify.hideToast();
                }, 3000);
            }
        <% } %>

            document.addEventListener('DOMContentLoaded', function () {
                // Get all "dropdown" elements
                var dropdowns = Array.prototype.slice.call(document.querySelectorAll('.dropdown'), 0);

                // Loop through all dropdowns and bind click event
                dropdowns.forEach(function (dropdown) {
                    dropdown.addEventListener('click', function (event) {
                        event.stopPropagation();
                        dropdown.classList.toggle('is-active');
                    });
                });

                // Close dropdowns when clicking outside
                document.addEventListener('click', function (event) {
                    closeDropdowns();
                });

                function closeDropdowns() {
                    dropdowns.forEach(function (dropdown) {
                        dropdown.classList.remove('is-active');
                    });
                }
            });
    </script>

</html>